@import "../../../styles/variables";

:global(.hwrld).hwrld {
  float: left;
  width: 100%;

  :global(.primary-btn){
    margin: 0 auto;
  }
  .bad-data {
    color: $color-secondary;
    float: left;
    margin-top: 5px;
    text-align: center;
    width: 100%
  }
}
