@import '../../../styles/variables';
@import '../../../styles/sprite-sheet-mixins';

:global(.hwrld).hwrld {
  .wrapper {
    color: #ff0000;
    float: left;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
    width: 100%;
    .go-back-link{
      border-bottom: 1px solid $color-border;
      color: $color-primary;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 20px;
      padding: 5px 0 20px;
      text-align: left;
      width: 100%;
      .go-back-icon{
        @include small-left-pointer("++BASE_URL++");
        display: inline-block;
        float: left;
        margin-top: 1px;
        margin-right: 2px;
      }
    }
    .error{
      @include error("++BASE_URL++");
      display: block;
      margin: 0 auto 20px;
    }
    .error-title{
      color: $color_text;
      font-size: 28px;
      margin-bottom: 15px;
    }
    .error-text{
      color: $color-text;
      font-size: 15px;
    }
    :global(.secondary-btn) {
      padding-left: 30px;
      padding-right: 30px;
      margin: 20px auto 0;
    }
  }
}
