<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Video Page - DUCS</title>
<!-- script type="text/javascript" src="bundles/manifest.js"></script><script type="text/javascript" src="bundles/vendor.js"></script><script type="text/javascript" src="bundles/entry-app.js"></script -->
</head>
<body>
		<h1>Video Page - DUCS</h1>
    <!-- div class="application"></div>
    <script>
        new EntryApp(
            '.application',
            { hint: 'Your options go here' }
        )
    </script -->


</body>
</html>
