<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link href="css/reset.css" rel="stylesheet" type="text/css"/>
    <title>Video Page - DUCS</title>
    <script>
        // Dummy host configuration, required by 3P-resource
        window.pppAppConfig = {
            "AuthenticationGatewayEndpoint": "http://gateway-qa.3plearning.com/AuthenticationGatewayV1/api",
            "BaseName": "/",
            "ConfigurationType": "window",
            "ContentApiEndpoint": "http://internalwebsite-qa.3plearning.com/content-api-v1/",
            "CdnUrl": "http://qa.cdn.mathletics.com/content-api",
            "webpages:Version": "3.0.0.0",
            "webpages:Enabled": "false",
            "ClientValidationEnabled": "true",
            "UnobtrusiveJavaScriptEnabled": "true",
            "env": "qa"
        }
    </script>
    <script src="//mzaue2.cdn.mathletics.com/html/default-universal-content-screen/ducs_1.0.14.js"></script>
</head>
<body>
<h1>Video Page - DUCS</h1>
<div class="DUCSApplication"></div>
<script>
    // NOTE: This code is only valid for development environments - it has no IE/Edge support!
    const urlParams = new URLSearchParams(window.location.search);
    DUCSApplication.initialise(
        '.DUCSApplication',
        urlParams.get('id'),
        urlParams.get('locale'),
        urlParams.get('layoutVersion'),
        urlParams.get('contentVersion')
    );
</script>
</body>
</html>
