@import "../../../styles/mixins";

:global(.hwrld).hwrld {
  background-color: #d0d6d6;
  float: left;
  padding:20px;
  width: 100%;

  p {
    font-size: 18px;
    float: left;
    margin-bottom: 20px;
    width: 100%;
  }

  .form-chunk {
    float: left;
    margin-bottom: 20px;
    width: 100%;
  }

  .unit {
    li {
      cursor: pointer;
      float: left;
      margin-right: 20px;
      .unit-round {
        background-color: #ffffff;
        @include border-radius(50%);
        display: block;
        float: left;
        height: 28px;
        width: 28px;
        margin: 2px 7px 0 0;
        transition: background-color 0.3s ease;
      }

      .unit-txt {
        color: #aaaaaa;
        display: block;
        float: left;
        font-size: 28px;
      }

      &.unit-active {
        .unit-round {
          background-color: #0077c5;
          border: 4px solid #ffffff;
        }
        .unit-txt {
          color: #757575;
        }
      }
    }
  }

  .wind {
    cursor: pointer;
    .wind-square {
      background-color: #ffffff;
      display: block;
      float: left;
      height: 28px;
      width: 28px;
      margin: 2px 7px 0 0;
      transition: background-color 0.3s ease;
    }
    .wind-txt {
      color: #aaaaaa;
      display: block;
      float: left;
      font-size: 28px;
    }

    &.wind-active {
      .wind-square {
        background-color: #0077c5;
        border: 4px solid #ffffff;
      }
      .wind-txt {
        color: #757575;
      }
    }
  }
}
