@import "../../../styles/variables";
@import "../../../styles/mixins";

:global(.hwrld).hwrld {
  .inner {
    background-color: #0077c5;
    color: #ffffff;
    cursor: pointer;
  	display: table;
  	font-size: 20px;
  	padding: 10px 80px;
  	text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover{
      background-color: #ffffff;
      color: #0077c5;
    }
  }
}
