@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/sprite-sheet-mixins';

:global(.hwrld).hwrld {
  .go-back-link{
    border-bottom: 1px solid $color-border;
    color: $color-primary;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 20px 20px;
    width: 100%;
    .go-back-icon{
      @include small-left-pointer("++BASE_URL++");
      display: inline-block;
      float: left;
      margin-top: 1px;
      margin-right: 2px;
    }
  }
  .button-wrapper{
    float: left;
    margin-top: 20px;
    width: 100%;
    :global(.hwrld){
      :global(.secondary-btn){
      float: none;
      margin: 0 auto;
      padding-left: 30px;
      padding-right: 30px;
      }
    }
  }
}
