:global(.hwrld).hwrld {
  .instruction {
    background-color: #5d647b;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 20px;
  }

  .code {
    background-color: #ffffff;
    font-size: 12px;
    padding: 20px;
  }
}
