@import "../../../styles/variables";

:global(.hwrld).hwrld {
  float: left;
  padding: 20px;
  width: 100%;
  .spinning-wheel {
    height: 70px;
    margin: 0 auto 20px;
    width: 70px;
  }

  .wrapper{
    padding: 20px;
    text-align: center;
    .loading-title{
      font-size: 28px;
      margin-bottom: 15px;
    }
    .loading-text{
      font-size: 15px;
    }
  }
}
