.component {
    display: block;
}

.img_container {
    display: block;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 200px 30px;
    width: 200px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    img {
        width: 150px;
    }

    div {
        width: 150px;
        height: 250px;
        background-size: 150px auto;
    }
}

.delete-view-font {
    font-size: 20px;
    color: green;

    button {
        min-width: 50px;
        min-height: 50px;
    }
}

.png-css {
    background-image: url('./images/rotating_flags.png');
}

.jpeg-css {
    background-image: url('./images/cross.jpeg');
}

.gif-css {
    background-image: url('./images/404-guy.gif');
}

.jpg-css {
    background-image: url('./images/ausHeader.jpg');
}

.svg-css {
    background-image: url('./images/math-logo.svg');
}
