.component {
    display: block;
}

.img_container {
    display: block;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 200px 30px;
    width: 200px;
}

.flexRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    img {
        width: 150px;
    }

    div {
        width: 150px;
        height: 250px;
        background-size: 150px auto;
    }
}

.pngCSS {
    background-image: url('./images/rotating_flags.png');
}

.jpegCSS {
    background-image: url('./images/cross.jpeg');
}

.gifCSS {
    background-image: url('./images/404-guy.gif');
}

.jpgCSS {
    background-image: url('./images/ausHeader.jpg');
}

.svgCSS {
    background-image: url('./images/math-logo.svg');
}
