@import "../../../styles/mixins";

:global(.hwrld).hwrld {
  height: 70px;
  overflow: hidden;
  position: relative;
  .label {
    bottom: 0;
    color: #aaaaaa;
    font-size: 18px;
    height: 26px;
    left: 0;
    position: absolute;
    transition: bottom 0.3s ease;
    width: 100%;
    z-index: 90;

    &.label-active {

    }
  }

  .box {
    background-color: #ffffff;
    bottom: -46px;
    border-top: 2px solid #0077c5;
    height: 48px;
    left: 0;
    position: absolute;
    transition: bottom 0.3s ease;
    width: 100%;
    z-index: 80;
  }

  &.active, &.filled {
    .label {
      bottom: 44px;
      font-size: 14px;
    }

    .box {
      bottom: 0
    }
  }

  input[type=text] {
    background: none;
    border: none;
    display: block;
    float: left;
    font-size: 28px;
    height: 48px;
    margin-top: 24px;
    padding: 6px 10px;
    position: relative;
    width: 100%;
    z-index: 100;

    &:focus {
      outline: none;
    }
  }
}
