:global(.fade-in-appear) {
  opacity: 0.01;
}

:global(.fade-in-appear):global(.fade-in-appear-active) {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

:global(.modal-slide-down-appear) {
  opacity: 0.01;
  position: absolute;
  top: -350px !important;
}

:global(.modal-slide-down-appear):global(.modal-slide-down-appear-active) {
  opacity: 1;
  top: 250px !important;
  transition: opacity 400ms ease-in, top 300ms ease-in;
}

:global(.sort-panel-slide-down-appear) {
  opacity: 0.01;
  top: -200px;
}

:global(.sort-panel-slide-down-appear):global(.sort-panel-slide-down-appear-active) {
  opacity: 1;
  top: 0;
  transition: opacity 400ms ease-in, top 300ms ease-in;
}
