@mixin cabin-class($base-url) {
	background: url($base-url + "/images/svgs/hwrld-flight-results.svg") no-repeat 0 0;
  height: 22px;
  width: 22px;
}

@mixin baggage-include($base-url) {
	background: url($base-url + "/images/svgs/hwrld-flight-results.svg") no-repeat -60px 0;
  height: 22px;
  width: 22px;
}

@mixin baggage-not-include($base-url) {
	background: url($base-url + "/images/svgs/hwrld-flight-results.svg") no-repeat -30px 0;
  height: 22px;
  width: 22px;
}

@mixin premium-economy($base-url) {
	background: url($base-url + "/images/svgs/hwrld-flight-results.svg") no-repeat 0 -210px;
  height: 22px;
  width: 22px;
}

@mixin business($base-url) {
	background: url($base-url + "/images/svgs/hwrld-flight-results.svg") no-repeat -90px 0;
  height: 22px;
  width: 22px;
}

@mixin first($base-url) {
	background: url($base-url + "/images/svgs/hwrld-flight-results.svg") no-repeat -120px 0;
  height: 22px;
  width: 22px;
}

@mixin page-link($base-url) {
	background: url($base-url + "/images/svgs/hwrld-flight-results.svg") no-repeat -180px 0;
  height: 14px;
  width: 14px;
}

@mixin sale($base-url) {
		background: url($base-url + "/images/svgs/hwrld-flight-results.svg") no-repeat -150px 0px;
		width: 22px;
		height: 22px;
}

@mixin short-right-arrow($base-url) {
	background: url($base-url + "/images/svgs/hwrld-flight-results.svg") no-repeat -120px -90px;
	width: 34px;
	height: 10px;
}

@mixin short-down-arrow($base-url) {
	background: url($base-url + "/images/svgs/hwrld-flight-results.svg") no-repeat 0 -150px;
	height: 56px;
	width: 10px;
}

@mixin small-up-pointer($base-url) {
	background: url($base-url + "/images/svgs/hwrld-essentials.svg") no-repeat -239px 0;
	width: 16px;
	height: 10px;
}

@mixin small-down-pointer($base-url) {
	background: url($base-url + "/images/svgs/hwrld-essentials.svg") -180px 0 no-repeat;
	width: 16px;
	height: 10px;
}

@mixin small-up-pointer-hover($base-url) {
	background: url($base-url + "/images/svgs/hwrld-essentials.svg") -270px 0 no-repeat;
	width: 16px;
	height: 10px;
}

@mixin small-left-pointer($base-url) {
	background: url($base-url + "/images/svgs/hwrld-essentials.svg") no-repeat -719px 0;
	height: 15px;
	width: 11px;
}

@mixin small-right-pointer($base-url) {
	background: url($base-url + "/images/svgs/hwrld-essentials.svg") no-repeat -659px 0;
	height: 15px;
	width: 10px;
}

@mixin small-right-arrow($base-url){
	background: url($base-url + "/images/svgs/hwrld-flight-results.svg") no-repeat -180px -90px;
	height: 11px;
	width: 12px;
}

@mixin direct-right-arrow($base-url){
	background: url($base-url + "/images/svgs/hwrld-flight-results.svg") no-repeat 0 -90px;
	width: 96px;
	height: 11px;
}

@mixin instore($base-url){
	background: url($base-url + "/images/svgs/hwrld-essentials.svg") no-repeat -179px -119px;
	width: 37px;
	height: 37px;
}

@mixin online($base-url){
	background: url($base-url + "/images/svgs/hwrld-essentials.svg") no-repeat -239px -119px;
	width: 37px;
	height: 37px;
}

@mixin plus($base-url){
	background: url($base-url + "/images/svgs/hwrld-essentials.svg") no-repeat -390px -119px;
	width: 30px;
	height: 32px;
}

@mixin minus($base-url){
	background: url($base-url + "/images/svgs/hwrld-essentials.svg") no-repeat -420px -119px;
	width: 30px;
	height: 32px;
}

@mixin credit-card($base-url){
	background: url($base-url + "/images/svgs/hwrld-essentials.svg") no-repeat -510px -180px;
	width: 56px;
	height: 37px;
}

@mixin note-blue($base-url){
	background: url($base-url + "/images/svgs/hwrld-essentials.svg") no-repeat -480px -179px;
	width: 14px;
	height: 18px;
}

@mixin note-green($base-url){
	background: url($base-url + "/images/svgs/hwrld-essentials.svg") no-repeat -450px -179px;
	width: 14px;
	height: 18px;
}

@mixin note-red($base-url){
	background: url($base-url + "/images/svgs/hwrld-essentials.svg") no-repeat -420px -179px;
	width: 14px;
	height: 18px;
}

@mixin customer-support($base-url){
	background: url($base-url + "/images/svgs/hwrld-essentials.svg") no-repeat -120px -120px;
	width: 37px;
	height: 37px;
}

@mixin flight-blue($base-url){
	background: url($base-url + "/images/svgs/hwrld-essentials.svg") no-repeat -510px -119px;
	width: 26px;
	height: 26px;
}

@mixin arrow-btn($base-url){
	background: url($base-url + "/images/svgs/hwrld-essentials.svg") no-repeat -540px -120px;
	width: 28px;
	height: 28px;
}

@mixin email-confirm($base-url){
	background: url($base-url + "/images/svgs/hwrld-essentials.svg") no-repeat -570px -180px;
	width: 26px;
	height: 25px;
}

@mixin confirm($base-url){
	background: url($base-url + "/images/svgs/hwrld-essentials.svg") no-repeat 0 -270px;
	width: 151px;
	height: 151px;
}

@mixin itinerary($base-url){
	background: url($base-url + "/images/svgs/hwrld-essentials.svg") no-repeat -180px -270px;
	width: 151px;
	height: 151px;
}

@mixin error($base-url){
	background: url($base-url + "/images/svgs/hwrld-essentials.svg") no-repeat -360px -270px;
	width: 151px;
	height: 151px;
}

@mixin address($base-url){
	background: url($base-url + "/images/svgs/hwrld-essentials.svg") no-repeat -300px -120px;
	width: 20px;
	height: 21px;
}

@mixin open-hours($base-url){
	background: url($base-url + "/images/svgs/hwrld-essentials.svg") no-repeat -330px -120px;
	width: 22px;
	height: 21px;
}

@mixin phone($base-url){
	background: url($base-url + "/images/svgs/hwrld-essentials.svg") no-repeat -360px -120px;
	width: 22px;
	height: 21px;
}

@mixin search-orange($base-url){
	background: url($base-url + "/images/svgs/hwrld-essentials.svg") no-repeat -630px 0;
	width: 26px;
	height: 26px;
}

@mixin icon-flight($base-url){
	background: url($base-url + "/images/svgs/rogbot-sprite.svg") no-repeat 0 0;
	width: 25px;
	height: 25px;
}

@mixin icon-hotel($base-url){
	background: url($base-url + "/images/svgs/rogbot-sprite.svg") no-repeat -30px 0;
	width: 25px;
	height: 25px;
}

@mixin radio-icon($base-url){
	background: url($base-url + "/images/svgs/rogbot-sprite.svg") no-repeat -270px -90px;
	width: 15px;
	height: 15px;
}

@mixin radio-icon-active($base-url){
	background: url($base-url + "/images/svgs/rogbot-sprite.svg") no-repeat -240px -90px;
	width: 15px;
	height: 15px;
}

@mixin toggle-plus($base-url){
	background: url($base-url + "/images/svgs/rogbot-sprite.svg") no-repeat -120px -90px;
	width: 12px;
	height: 12px;
}

@mixin toggle-minus($base-url){
	background: url($base-url + "/images/svgs/rogbot-sprite.svg") no-repeat -150px -90px;
	width: 12px;
	height: 12px;
}

@mixin calendar-nav-prev($base-url){
	background: url($base-url + "/images/svgs/rogbot-sprite.svg") -300px -90px;
}

@mixin calendar-nav-next($base-url){
	background: url($base-url + "/images/svgs/rogbot-sprite.svg") -330px -90px;
}

@mixin icon-calendar($base-url){
	background: url($base-url + "/images/svgs/rogbot-sprite.svg") no-repeat -60px -30px;
	height: 30px;
	width: 30px;
}

@mixin icon-adults($base-url){
	background: url($base-url + "/images/svgs/rogbot-sprite.svg") no-repeat -150px -30px;
	height: 30px;
	width: 30px;
}

@mixin icon-children($base-url){
	background: url($base-url + "/images/svgs/rogbot-sprite.svg") no-repeat -180px -30px;
	height: 30px;
	width: 30px;
}

@mixin icon-carrier($base-url){
	background: url($base-url + "/images/svgs/rogbot-sprite.svg") no-repeat -300px -30px;
	height: 30px;
	width: 30px;
}

@mixin icon-cabin($base-url){
	background: url($base-url + "/images/svgs/rogbot-sprite.svg") no-repeat -210px -30px;
	height: 30px;
	width: 30px;
}

@mixin icon-rooms($base-url){
	background: url($base-url + "/images/svgs/rogbot-sprite.svg") no-repeat -119px -30px;
	height: 30px;
	width: 30px;
}
