$break-large: 1200px;
$break-medium: 992px;
$break-small: 768px;
$break-extra-small: 480px;

$color-primary: #00BCE4;
$color-secondary: #F58227;
$color-text: #757575;
$color-bkgd: #ffffff;
$color-border: #CCCCCC;

$base-url: "++BASE_URL++";
