:global(.hwrld).hwrld {
  border-bottom: 1px solid #dddddd;
  float: left;
  height: 90px;
  width: 100%;
  a {
    display: block;
    height: 70px;
    margin: 10px 0 0 18px;
    width: 121px
  }
}
